body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#button{
    font-size: 18px;
    padding: 10px 15px;
    background-color: brown;
    border-radius: 20px;
    border: none;
}